#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig MAX30205
	bool
	prompt "MAX30205 temperature and humidity sensor"
	depends on I2C
	help
	  Enable driver for MAX30205 I2C-based temperature and humidity sensor.

if !HAS_DTS_I2C_DEVICE

config MAX30205_NAME
	string
	prompt "Driver name"
	default "MAX30205"
	depends on MAX30205
	help
	  Device name with which the MAX30205 sensor is identified.

config MAX30205_I2C_ADDR
	hex
	prompt "I2c address"
	default 0x48
	depends on MAX30205
	help
	  Device addr with which the MAX30205 sensor is identified.

config MAX30205_I2C_MASTER_DEV_NAME
	string
	prompt "I2C master where MAX30205 is connected"
	depends on MAX30205
	default "I2C_0"
	help
	  Specify the device name of the I2C master device to which MAX30205 is
	  connected.

endif
